.body{
    background-color: rgb(33, 32, 32);
    width: 98.7vw;
    height: 1570px;
    align-items: center;
    margin-left: 0px;
}
input{
    border: 1px solid black;
    border-radius: 3px;
    width: 500px;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(33, 32, 32) ;
}
img{
    margin-top: 10px;
    margin: 30px;
}
p{
    text-align: center;
    margin: 10px;
    font-size: 13px;
    color:#d3cccc;
}
