.main-wrapperr{
    background-color: rgb(75 74 74);
}
.drink-wrapper{
    text-align: center;
    border-bottom: 1.7px solid #b1afaf;
    border-radius: 3px;
    width: 1200px;
    text-align: center;
    margin-left: 28px;
    
}

.wrapper{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 0px;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: center;
}
.title{
    font-size: 10px;
    margin: 0px;
    margin-bottom: 15px;
    margin-left: 30px;
}
.images{
    display: flex;
    width: 95vw;
    overflow: auto;

}
